<p>
	<a href="{{source_url}}">{{sitename}}</a> is an Express application to be 
	used as a starting point for building dynamic web applications using 
	<a href="https://nodejs.org">Node.js</a> and 
	<a href="http://expressjs.com">Express</a>.
</p>
<p>
	<img src="/images/code.png" alt="A picture of JavaScript source code.">
</p>