<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="/style.css">
	<meta name="viewport" content="width=device-width">
</head>

<body>
	<header>
		<h1><a href="/">{{sitename}}</a></h1>
	</header>
	<main>
		{{{ body }}}
	</main>
	<footer>
		<p><small><a href="{{source_url}}">View source code on GitHub</a></small></p>
	</footer>
</body>

</html>